$white:#fff;
$brown:#6f5948;
$light-brown:#b09582;
$header-bg:#f5f5f5;
$dark-brown:#46372c;
$black:#000;
$gray:#f3f3f3;
$darkgray:#d0d0d0;
$light-gray:#ebebeb;
$footer-info:#393939;
$footer-copyright:#222222;
$orange: #FF4500

